:root {
    background-color: rgb(2, 197, 132);
}

#gameplay-container {
    margin-top: 60px;
    margin-right: 100px;
    margin-bottom: 60px;
    margin-left: 100px;
    flex-grow: 1;
}

#game-container {
    flex-grow: 1;
    align-items: center;
    margin-bottom: 80px;
    justify-content: center;
}

#clue-label {
    color: rgb(255, 255, 255);
    -unity-text-align: upper-center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    white-space: nowrap;
}

#success-image {
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    align-items: stretch;
}

#success-icon {
    margin-top: 15px;
    margin-bottom: 15px;
    aspect-ratio: 1;
}

#success-label {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

#letter-card-container {
    flex-direction: row;
}

.letter-card {
    margin-left: 18px;
    margin-right: 18px;
    transition-property: rotate;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

#buttons-container {
    flex-direction: row;
    width: 100%;
}

#left-buttons-container {
    flex-direction: row;
    flex-grow: 1;
}

#pause-button {
    -unity-font-definition: resource("Fonts/Inter-Bold");
}

#pause-screen {
    display: none;
    opacity: 0;
}

#results-screen {
    display: none;
    opacity: 0;
}

.pause-screen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.49);
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    padding-top: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
}

.pause-screen-dialog {
    background-color: rgb(255, 255, 255);
    border-left-color: rgb(27, 27, 27);
    border-right-color: rgb(27, 27, 27);
    border-top-color: rgb(27, 27, 27);
    border-bottom-color: rgb(27, 27, 27);
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    align-items: center;
}

.pause-screen-label-container {
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.pause-screen-label {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    -unity-text-align: middle-center;
    white-space: normal;
}

.pause-screen-buttons-container {
    flex-direction: row;
    justify-content: space-between;
}

