:root {
    background-image: resource("Images/Background-Intro");
    -unity-background-scale-mode: scale-and-crop;
}

#intro-2-container {
    flex-grow: 1;
    margin-top: 60px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 60px;
}

#options-button {
    align-self: flex-end;
}

#play-buttons-outer-container {
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
}

#play-buttons-inner-container {
    flex-direction: row;
    margin-bottom: 90px;
}

.letter-spell-button-play {
    color: rgb(0, 0, 0);
    font-size: 117%;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 110px;
    padding-right: 110px;
    margin-right: 85px;
    margin-left: 85px;
}

#play-easy-button {
    background-color: rgb(255, 190, 0);
    border-left-color: rgb(255, 251, 232);
    border-right-color: rgb(255, 251, 232);
    border-top-color: rgb(255, 251, 232);
    border-bottom-color: rgb(255, 251, 232);
}

#play-hard-button {
    background-color: rgb(1, 168, 255);
    border-left-color: rgb(114, 207, 255);
    border-right-color: rgb(114, 207, 255);
    border-top-color: rgb(114, 207, 255);
    border-bottom-color: rgb(114, 207, 255);
}
