@import url("Tokens/LetterSpellStyle.Token.Common.uss");

:root {
    font-size: var(--lsp-font-size-md);
    
    /* BaseField */
    --unity-metrics-base_field_label-min_width: var(--lsp-field-label-min-width);
    --unity-metrics-base_field_label-margin: var(--lsp-spacing-md) var(--lsp-spacing-md);
    
    /* Button */
    --unity-metrics-button-border_width: var(--lsp-border-width-md);
    --unity-metrics-button-border_radius: var(--lsp-border-radius-md);
    --unity-metrics-button-margin: var(--lsp-spacing-sm) var(--lsp-spacing-sm);
    --unity-metrics-button-padding: var(--lsp-spacing-md) var(--lsp-spacing-lg);
    
    --unity-colors-button-background: var(--lsp-control-bg-color);
    --unity-colors-button-border: var(--lsp-control-border-color);
    --unity-colors-button-border-hover: var(--lsp-control-border-color);
    --unity-colors-button-border-focus: var(--lsp-color-blue-600);
    --unity-colors-button-background-hover: var(--lsp-control-bg-color-hover);
    --unity-colors-button-background-pressed: var(--lsp-control-bg-color-pressed);
    --unity-colors-button-background-checked: var(--lsp-control-bg-color-checked);
    
    /* DropdownField */
    --unity-metrics-dropdown_item_checkmark-width: var(--lsp-checkmark-size-sm);
    --unity-metrics-dropdown_item_checkmark-height: var(--lsp-checkmark-size-sm);
    --unity-metrics-dropdown_item_checkmark-margin: var(--lsp-spacing-md);
    
    /* Input Field */
    --unity-metrics-input_field-border_width: var(--lsp-border-width-md);
    --unity-metrics-input_field-border_radius: var(--lsp-border-radius-md);
    --unity-metrics-input_field-margin: var(--lsp-spacing-sm) var(--lsp-spacing-sm);
    --unity-metrics-input_field-padding: var(--lsp-spacing-md) var(--lsp-spacing-lg);
    
    --unity-colors-input_field-background: var(--lsp-input-bg-color);
    --unity-colors-input_field-border: var(--lsp-input-border-color);
    --unity-colors-input_field_placeholder-color: var(--lsp-input-placeholder-text-color);
    
    /* PopupField */
    --unity-metrics-popup_field-border_width: var(--lsp-border-width-md);
    --unity-metrics-popup_field-border_radius: var(--lsp-border-radius-md);
    --unity-metrics-popup_field-margin: var(--lsp-spacing-sm) var(--lsp-spacing-sm);
    --unity-metrics-popup_field-padding: var(--lsp-spacing-md) var(--lsp-spacing-lg);
    --unity-metrics-popup_field_arrow-width: var(--lsp-popup-field-arrow-width-md);
    --unity-metrics-popup_field_arrow-height: var(--lsp-popup-field-arrow-width-md);
    --unity-metrics-popup_field_arrow-margin: var(--lsp-spacing-sm) var(--lsp-spacing-md);

    --unity-colors-popup_field-background: var(--lsp-control-bg-color);
    --unity-colors-popup_field-border: var(--lsp-control-border-color);
    --unity-colors-popup_field-border-hover: var(--lsp-control-border-color);
    --unity-colors-popup_field-border-focus: var(--lsp-color-blue-600);
    --unity-colors-popup_field-background-hover: var(--lsp-control-bg-color-hover);
    --unity-colors-popup_field-background-pressed: var(--lsp-control-bg-color-checked);

    /* Radio Button */
    --unity-metrics-radio_button_checkmark_background-width: var(--lsp-checkmark-size-md);
    --unity-metrics-radio_button_checkmark_background-border_width: var(--lsp-border-width-sm);
    --unity-metrics-radio_button_checkmark-width: var(--lsp-checkmark-size-md);
    --unity-metrics-toggle_checkmark-margin: var(--lsp-spacing-sm);
    --unity-metrics-toggle_checkmark-border_width: var(--lsp-border-width-sm);
    --unity-metrics-toggle_checkmark-border_radius: var(--lsp-border-radius-xs);

    --unity-colors-radio_button_checkmark_background-background: var(--lsp-control-bg-color);
    --unity-colors-radio_button_checkmark_background-background-hover: var(--lsp-control-bg-color-hover);
    --unity-colors-radio_button_checkmark_background-border: var(--lsp-control-border-color);
    --unity-colors-radio_button_checkmark-background: var(--lsp-primary-accent-color);
    --unity-colors-radio_button_checkmark-background-hover: var(--lsp-primary-accent-color-hover);
    --unity-colors-radio_button_checkmark-background-pressed: var(--lsp-primary-accent-color-checked);

    /* Toggle */
    --unity-metrics-toggle_checkmark-width: var(--lsp-checkmark-size-md);
    --unity-metrics-toggle_checkmark-height: var(--lsp-checkmark-size-md);
    --unity-metrics-toggle_checkmark-margin: var(--lsp-spacing-sm);
    --unity-metrics-toggle_checkmark-border_width: var(--lsp-border-width-sm);
    --unity-metrics-toggle_checkmark-border_radius: var(--lsp-border-radius-xs);
    
    --unity-colors-toggle_checkmark-background: var(--lsp-control-bg-color);
    --unity-colors-toggle_checkmark-background-hover: var(--lsp-control-bg-color-hover);
    --unity-colors-toggle_checkmark-border: var(--lsp-control-border-color);
    --unity-colors-toggle_checkmark-border-focus: var(--lsp-control-border-color);
    --unity-colors-toggle_checkmark-text: var(--lsp-primary-accent-color);
    
    /* Slider */
    --unity-metrics-slider_groove-height: var(--lsp-slider-groove-height-md);
    --unity-metrics-slider_groove-border_radius: var(--lsp-border-radius-xs);
    --unity-metrics-slider_thumb-width: var(--lsp-slider-thumb-width-md);
    --unity-metrics-slider_thumb-height: var(--lsp-slider-thumb-height-md);
    --unity-metrics-slider_thumb-border_width: var(--lsp-border-width-sm);
    --unity-metrics-slider_thumb-border_radius: var(--lsp-border-radius-xs);
    
    --unity-colors-slider_groove-background: var(--lsp-control-border-color);
    --unity-colors-slider_groove-background-hover: var(--lsp-control-border-color-hover);
    --unity-colors-slider_groove-border: var(--lsp-control-border-color);
    --unity-colors-slider_groove-border-hover: var(--lsp-control-border-color-hover);
    --unity-colors-slider_thumb-background: var(--lsp-primary-accent-color);
    --unity-colors-slider_thumb-background-hover: var(--lsp-primary-accent-color-hover);
    --unity-colors-slider_thumb-border: var(--lsp-control-border-color);
    --unity-colors-slider_thumb-border-focus: var(--lsp-control-border-color-focus);

    /***************************************/
    /*   LetterSpellStyle Specific Styles  */
    /***************************************/
    --lsp-metrics-letter_card_view_item-border_width: var(--lsp-border-width-md);
    --lsp-metrics-letter_card_view_item-border_radius: var(--lsp-border-radius-md);
    
    --lsp-colors-letter_card_view_item-background: var(--lsp-card-bg-color);
    --lsp-colors-letter_card_view_item-background-selected: var(--lsp-card-bg-color-selected);
    --lsp-colors-letter_card_view_item-border: var(--lsp-card-border-color);
    --lsp-colors-letter_card_view_item-border-selected: var(--lsp-card-border-color-selected);
}